# MySQL / XAMPP (Sequelize)
DB_HOST=localhost
DB_PORT=3306
DB_NAME=dentilib
DB_USER=root
DB_PASSWORD=

# true = crée les tables au démarrage (dev uniquement)
# DB_SOCKET=/Applications/XAMPP/xamppfiles/var/mysql/mysql.sock
DB_SYNC=false
DB_LOGGING=false

# JWT
JWT_SECRET=dentilib_dev_secret_change_in_production

# CORS — origine autorisée pour les appels API (front)
CORS_ORIGIN=http://localhost:3000

# Email (Nodemailer / Gmail)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=abdallahbougjdi@gmail.com
SMTP_PASS=uuff hjva mrox syjr
EMAIL_FROM="Dentilib <abdallahbougjdi@gmail.com>"
